@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,700&family=Oswald:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;

}

body {
    background-image: url(/Login/assets/img/WhatsApp\ Image\ 2023-04-19\ at\ 21.38.44.jpeg);

}

.content-center {
    background-color: rgba(255, 255, 255, 0.801);
    width: 100%;
    max-width: 300px;
    margin: auto;
    padding: 20px;
    border-color: #dddcdc;
    border-radius: 15px;
}

.content-center img {
    width: 100%;
}

.content-center form {
    margin: 20px;
}

.content-center input,
.content-center button {
    width: 100%;
    padding: 10px 5px;
    border: none;
    outline: none;
}

.content-center input{
    border-bottom-color: #ccc;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    margin-bottom: 10px;
}

.content-center input:focus{
    border-bottom-color: rgb(219, 8, 8);
}

.content-center button{
    background-color: rgb(219, 8, 8);
    color: white;
}

.content-center button:hover{
    background-color: #412929;
}

.content-center button:active{
    background-color: rgb(219, 8, 8);
}

header a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-shadow: 0 0 15px #000000, 0px 0px 10px rgba(0,0,0,0);
}

header a:visited{
    color: rgb(255, 255, 255);

}

header a:focus{
    color: rgb(73, 73, 73);
    
}

header a:active{
    color: rgb(179, 179, 179);
}

header h1{
    font-size: 2.5em;
    text-align: center;
    margin: 50px auto;
}

footer p{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 1em;
    font-size: 0.8em;
    text-align: center;
    color: white;
    text-shadow: 0 0 15px #000000, 0px 0px 10px rgba(0,0,0,0);
}

#text-center{
    text-align: center;
}